body{
    margin: 0;
    padding: 0;
    background: #ffe6f0;
    font-family: 'Segoe UI ', sans-serif;
    text-align: center;
    color: #8b0000;
}

h1{
    margin-top: 40px;
    font-size: 2.5em;
}

.carta{
    margin: 40px auto;
    max-width: 600px;
    background:#fff;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);

}

.botao-musica{
    margin-top: 20px;
    background: #ff4081;
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    cursor: pointer;
}

.botao-musica:hover{
    background: #ff1a7a;
}
.botao-musica:active{
    background: #ff1a7a;
    transform: translateY(2px);
}


.coracoes{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    background-image: url('/img/coracoes.png');
    background-size: contain;
    animation: coracoes 10s  infinite linear;
}


@keyframes coracoes {
    0% { background-position: 0 -100%; }
    100% { background-position: 0 100%; }
}

@media (max-width: 600px) {
    .carta {
        margin: 20px;
        padding: 20px;
    }

    h1 {
        font-size: 2em;
    }

    .botao-musica {
        padding: 10px 20px;
    }

    .imagem-bombom {
        max-width: 150px;
    }
}
